html {
  font-family: sans-serif;
}

h1 {
  color: orange;
}

p {
  color: gray;
}

.gallery-items {
  display: inline-block;
  box-sizing: border-box;
  width: 20%;
  margin: 2em 0;
  min-width: 100px;
}

span {
  display: block;
  color: skyblue;
  position: absolute;
  width: 20%;
  min-width: 100px;
}
.gallery-items img {
  min-width: 100px;
}
